.vscode
temp
.DS_Store
venv
fall_2022/csci_7000_005/*/*.pdf
fall_2022/csci_7000_005/lab2/*.txt
fall_2022/csci_7000_005/lab2/*.conf
fall_2022/csci_7000_005/lab2/capture.json
.ipynb_checkpoints
fall_2022/csci_5922/*/*.png
fall_2022/csci_5922/lab_assignment_3/glove.6B.300d.txt
fall_2022/csci_5922/lab_assignment_3/spam.csv
